/* .container-left-index3 {
    display: flex;
    justify-content: center;
    align-self: center;
} */

.container-left-index3 .table-menu #myMenu .menu-re {
    width: 2%;
    height: 2%;
    color: white;
    margin-right: 10px;
}
.text-menu-item:hover{
    text-decoration: none;
}
.panel {
   display: flex;
   justify-content: space-around;
}
.panel span{
    width: 70%;
    height: 100%;
}
.menu-text-h4 {
    margin-top: 10px;
}