    header {
        background-color: white;
        color: black;
        padding: 3px 0px;
        text-decoration: none;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 522;
    }
    .clear{
        clear: both;
    }
    .collapse .navbar-collapse {
        float: right;
    }
    
    .main-right a.option-table:hover {
        text-decoration: none;
    }
    
    .option-table {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    .navbar-brand1 {
        color: black;
        margin-right: 5px;
        font-size: 20px;
        text-decoration: none;
    }
    
    .nav-link1 {
        padding-left: 5px;
        padding-right: 5px;
        color: black;
        text-decoration: none;
    }
    
    .nav-link1:hover,
    .navbar-brand1:hover {
        text-decoration: none;
        color: black;
    }
    
    .nav-link1 .dropdown-toggle1 {
        padding-top: 5px;
    }
    
    .active {
        border-radius: 5px;
        margin-left: 20px;
    }
    
    .nav-link2 {
        margin-top: 20px;
        position: absolute;
    }
    
    .nav-item1 {
        margin-top: 5px;
    }
    
    .navbar-nav .form-inline .form-control {
        height: 35px;
    }
    
    .acc img {
        padding-left: 10px;
    }
    
    .menu-item {
        color: white;
        margin-top: -5px;
    }
    
    .menu-item .text-menu-item {
        padding-left: 10px;
        color: white;
    }
    
    .menu-item .icon-tem .icon-menu-item {
        width: 7%;
    }
    
    .menu-item:hover {
        cursor: pointer;
    }
    
    .panel {
        border-radius: 1px;
        width: 100%;
        color: #909294;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    
    .text-menu-item {
        font-size: 13px;
    }
    
    .panel a {
        display: block;
        list-style-type: none;
        text-decoration: none;
        color: #909294;
        padding-left: 20%;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
    }
    
    .active-text-menu {
        font-size: 17px;
    }
    
    .panel a:hover {
        list-style-type: none;
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .container-left-index2 .table-menu #myMenu {
        margin-left: 2%;
    }
    
    #myMenu .menu-text {
        color: #909294;
        font-size: 11px;
    }
    
    .menu {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .container-left-index2 {
        float: left;
        height: 740px;
        width: 15%;
        background-color: #212529;
        background-image: linear-gradient(to bottom right, #212529, #494E53);
        position: fixed;
        top: 0px;
    }
    
    .container-right-index2 {
        float: left;
        height: 100%;
        width: 83.75%;
        background-color: #EBEBEB;
    }
    
    .container-right-index2-map {
        float: left;
        height: 100%;
        width: 83.75%;
    }
    
    .container-right-index2-left {
        float: right;
        height: auto;
        width: 85%;
        background-color: #F0F0F0;
    }
    
    .table-menu li a.text {
        text-decoration: none;
        padding-left: 5px;
        color: white;
        font-size: 14px;
    }
    
    .table-menu li {
        list-style-type: none;
        padding: 10px 0px;
        border-radius: 1px;
        margin-top: 5px;
    }
    
    .menu-text {
        margin-top: 20px;
        color: white;
        font-size: 12px;
    }
    
    .menu-text:first {
        margin-top: 10px;
        color: white;
        font-size: 12px;
    }
    
    .table-menu img {
        width: 10%;
        height: 7%;
        color: white;
        margin-right: 4%;
    }
    
    .main-right {
        margin: 20px 20px;
        min-height: 550px;
    }
    
    .item-menu-main {
        margin-top: 60px;
        margin-left: 0.1%;
        padding: 1%;
        background-color: white;
        font-size: 13px;
    }
    
    .item-menu-main:hover {
        cursor: pointer;
    }
    
    .item-menu-main span {
        color: #007BFF;
    }
    
    div.main-right table.table thead.thead-dark th {
        background-color: #007BFF;
        border-color: white;
        border-collapse: collapse;
    }
    
    div.main-right table.table thead.thead-light th {
        background-color: #FFC107;
        border-color: white;
        border-collapse: collapse;
    }
    
    .clear {
        clear: both;
    }
    
    .table {
        border-bottom: 1px solid black;
    }
    
    div.row {
        margin: 20px 0px;
        height: auto;
    }
    
    .col-main {
        width: 100%;
        margin-top: 5px;
        height: auto;
        z-index: 1;
        border-radius: 5px;
        text-align: center;
    }
    
    .col-main a:hover {
        text-decoration: none;
        color: white;
    }
    
    hr {
        border-color: white;
    }
    
    .col-main h4,
    .col-main p {
        padding: 0px 40px;
        color: white;
        font-size: 16px;
        padding-top: 10px;
    }
    
    .col-main1 {
        background-color: #007BFF;
        background-image: linear-gradient(to bottom right, #007BFF, #63C2DE);
    }
    
    .col-main2 {
        background-color: #F2D439;
        background-image: linear-gradient(to bottom right, #018DE4, yellow);
    }
    
    .col-main3 {
        background-color: #28A745;
        background-image: linear-gradient(to bottom right, #28A745, #8AF854);
    }
    
    .col-main0 {
        background-color: #F76E6C;
        background-image: linear-gradient(to bottom right, #F76E6C, yellow);
    }
    .col-main4 {
        background-color: #390BAB;
        background-image: linear-gradient(to bottom right, #390BAB, #886CCC);
    }
    
    footer.blue {
        background-color: #63C2DE;
        background-image: linear-gradient(to right ,#63C2DE ,#C0457C);
    }
    
    footer.blue .text-center a {
        color: white;
    }
    
    footer.blue .text-center {
        color: #DADBDC;
    }
    
    @media only screen and (max-width: 990px) {
        .container-right-index2-left {
            width: 100%;
            height: auto;
        }
        .container-left-index2 {
            display: none;
        }
        .navbar-nav .nav-item-active {
            display: block;
        }
    }
    
    @media only screen and (max-width: 1205px) {
        .row .col {
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
    
    .table tbody td a:hover {
        cursor: pointer;
    }
    
    .table tbody td a {
        display: inline;
        justify-content: space-between;
        margin-left: 20px;
    }
    
    .table tbody td a img {
        width: 10%;
        height: 10%;
    }
    
    .table tbody td input {
        width: 10%;
    }
    
    .main-right .col-main p {
        color: 14px;
    }
    
    th.col1 {
        width: 20%;
    }
    
    .table tr td,
    .table tbody,
    .table tr th {
        border: 1px solid #DADBDC;
    }
    
    .table .tt .a {
        border: none;
        outline: none;
    }
    
    .col-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .col-main2-logo {
        display: flex;
        justify-content: center;
        height: 100px;
    }
    
    .fa-facebook-f {
        color: white;
    }
    
    .col-main-logo .fa {
        font-size: 32px;
    }
    
    .fa-google-plus,
    .fa-linkedin,
    .fa-twitter,
    .fa-youtube {
        color: white;
    }
    
    .col-main6 {
        background-color: #018DE4;
        background-image: linear-gradient(to bottom right, #018DE4, #82BEE6);
    }
    
    .col-main4 {
        background-color: #1BB6EE;
        background-image: linear-gradient(to bottom right, #1BB6EE, #63C2DE);
    }
    
    .col-main5 {
        background-color: #5B84BC;
        background-image: linear-gradient(to bottom right, #5B84BC, #63C2DE);
    }
    
    .col-main7 {
        background-color: #3C599B;
        background-image: linear-gradient(to bottom right, #3C599B, #7D8FBB);
    }
    
    .col-main8 {
        background-color: #FF0202;
        background-image: linear-gradient(to bottom right, #FF0202, #BC595C);
    }
    
    .logo-main-content {
        height: auto;
        width: 100%;
    }
    
    .logo-main-content-chart {
        height: auto;
        width: 100%;
        /* display: flex;
    justify-content: center; */
    }
    
    #chart-main-combo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .chart-combo {
        height: 330px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5px;
    }
    
    #chart_div {
        width: 100%;
    }
    
    #chart_div_combo {
        width: 100%;
    }
    
    .detail-logo-main {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    
    .fa-gittip,
    .fa-pie-chart,
    .fa-shopping-cart,
    .fa-user {
        font-size: 36px;
        color: white;
        margin-top: -5px;
        margin-right: -30px;
    }
    
    .qty-main-content {
        background-color: #909294;
        color: #212529;
        display: flex;
        justify-content: center;
    }
    
    .main-content-table {
        margin: 20px 15px;
        background-color: white;
        width: auto;
        padding: 20px;
    }
    
    .main-content-table .menu-table-main {
        background-color: #F0F0F0;
        padding: 5px 5px;
        border-radius: 5px;
    }
    
    .fa-calendar-alt {
        font-size: 24px;
    }
    
    .fa-bell {
        font-size: 24px;
        color: black;
    }
    
    .ting-main {
        float: right;
        border: 1px;
    }
    
    .main-right .main-content-table .table-text {
        font-size: 13px;
    }
    
    .error-input {
        font-size: 10px;
        color: red;
        display: none;
    }
  
    @media only screen and (max-width: 990px) {
        .item-menu-main {
            margin-top: 70px;
        }
    }
    
    @media only screen and (max-width: 770px) {
        .main-right .table-main {
            min-width: 770px;
        }
        .main-right .hidden-table {
            overflow-x: scroll;
            height: auto;
            width: 100%;
        }
    }
    @media only screen and (max-width: 550px) {
        .container-right-index2-left {
            float: right;
            height: auto;
            width: 100%;
            background-color: #F0F0F0;
        }
        .main-right  {
           width: 96%;
           margin-left: 2%;
           margin-right: 2%;
           padding: 0;
        }
        
       
    }
    @media only screen and (max-width: 500px) {
        .container-right-index2-left {
            float: right;
            height: auto;
            width: 100%;
            background-color: #F0F0F0;
        }
        .main-right  {
           width: 100%;
           padding: 0;
        }
        .input-product-edit{
            width: 100%;
        }
        .input-product-star{
            width: 100%;
        }
       
    }
    
    #myMenu {
        padding-left: 2%;
    }
    body .header-active{
        box-shadow: 0px 0px 24px 0px #A0A0A0;
        transition: all ease-in-out 0.5s;
    }
    body .form-control{
        border: none;
        outline: no
        ne;
    }
   
    body .form-control-focus{
        border: 1px solid #007BFF;
    }
    @media screen and (max-width:505px){
        .container-right-index2-left {
            height: auto;
            width: 100%;
            background-color: #F0F0F0;
            padding-right: 10px;
        }
        .main-right  {
           width: 100%;
           padding: 0;
        }

        .logo-main-content .row {
            
            width: 100%;
            display: block;
            height: 50px;
        }
        .logo-main-content .row  .col{
            width: 100%;
            height: 30px;
            float: left;
            clear: both;
            margin-bottom: 100px;
        }
    }
    @media screen and (max-width:405px){
        .container-right-index2-left {
            height: auto;
            width: 100%;
            background-color: #F0F0F0;
            
        }
        .main-right  {
           width: 100%;
           padding: 0;
        }
    }
    @media screen and (max-width:430px){
      .logo-main-content-chart {
          display: none;
      }
      
    }
    .product-edit .row-main .col-main p.name-product-edit{
        color: black;
    }



    /* button */
    Button.sb-form-button{
       
        margin-top: 0px;
        /* margin-left: 4%; */
    }
    .sb-form-button:focus{
        border: none;
        outline: none;
    }


    /* loading */
    .loading{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }



    /* chart */

    .chart-container{
        width: 96%;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2%;
    }
    .chart-container-left{
        width: 48%;
        height: 300px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .chart-container-center{
        width: 96%;
        height: 500px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        margin-right: 2%;
       
    }
    .chart-container-center-rechart{
        width: 90%;
        height: 100%;
    }
    .chart-container-center-rechart .charts{
        width: 90%;
        height: 300px;
    }
    .chart-container-right{
        width: 48%;
        height: 300px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @media screen and (max-width:830px){
        .chart-container{
            width: 96%;
            height: 380px;
            display: block;
            justify-content: space-between;
            align-items: center;
            margin: 2%;
        }
        .chart-container-left{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .chart-container-center{
            width: 96%;
            height: auto;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
            margin-right: 2%;
           
        }
        .chart-container-right{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    @media screen and (max-width:730px){
        .chart-container{
            width: 96%;
            height: 350px;
            display: block;
            justify-content: space-between;
            align-items: center;
            margin: 2%;
            
        }
        .chart-container-left{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .chart-container-center{
            width: 96%;
            height: 250px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
            margin-right: 2%;
           
        }
        .chart-container-right{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    @media screen and (max-width:600px){
        .chart-container{
            width: 96%;
            height: 300px;
            display: block;
            justify-content: space-between;
            align-items: center;
            margin: 2%;
        }
        .chart-container-left{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .chart-container-center{
            width: 96%;
            height: 200px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
            margin-right: 2%;
           
        }
        .chart-container-right{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    @media screen and (max-width:500px){
        .chart-container{
            width: 96%;
            height: 250px;
            display: block;
            justify-content: space-between;
            align-items: center;
            margin: 2%;
        }
        .chart-container-left{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .chart-container-right{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    @media screen and (max-width:400px){
        .chart-container{
            width: 96%;
            height: 200px;
            display: block;
            justify-content: space-between;
            align-items: center;
            margin: 2%;
        }
        .chart-container-left{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .chart-container-right{
            width: 100%;
            height: 100%;
            float: left;
            background-color: white;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width:1000px){
        .chart-container-center{
            width: 96%;
            height: 400px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
            margin-right: 2%;
        }
    }


.heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  .side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  .right {
    text-align: right;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  .bar-5 { height: 18px; background-color: #4CAF50;}
  .bar-4 { height: 18px; background-color: #2196F3;}
  .bar-3 { height: 18px; background-color: #00bcd4;}
  .bar-2 { height: 18px; background-color: #ff9800;}
  .bar-1 { height: 18px; background-color: #f44336;}
  
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }



  /* review-detail */
  


.review-container-main-row{
    
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #F0F0F0;
    padding-left: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.review-container-main-left{
    width: 50px;
    height: 50px;
    border: 1px solid #F0F0F0;
    border-radius: 50%;margin-right: 10px;
   margin-top: 2px;
}
.review-container-main-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review-container-main-right{
    width: 1000px;
    height: auto;
   
}
.review-product-name-row{
    width: 100%;
   height: auto;
   margin-top: 5px;
}
.review-product-review-row{
    width: 100%;
    padding-bottom: 0px;
    height: auto;
    font-size: 14px;
    margin-top: -15px;
}
.review-product-controller-control{
    margin-bottom: 5px;
}
.review-product-controller-control-review{
    padding-right: 10px;
    color: #007ACC;
    font-size: 14px;
}
.review-product-controller-control-review:hover{
    cursor: pointer;
}
.review-product-controller-control-like{
    color: #007ACC;
    font-size: 14px;
}
.review-product-controller-control-like:hover{
    cursor: pointer;
}
.review-product-review-row-star{
    margin-right: 5px;
}


@media screen  and (max-width:990px){
    .review-container-main{
        width: 100%;
        height: auto;
    }
}
@media screen  and (max-width:1228px){
    .review-text-area-input-sb{
        width:83%;
        height: 38px;
        margin-top: 10px;
        background-color: #F62;
        border: none;
        outline: none;
        color: white;
    }
}
@media screen  and (max-width:800px){
    .review-container-layout{
        margin-right: 7%;
        margin-left: 7%;
        width: 86%;
        height: auto;
        clear: both;
    }
    .review-container-main{
        width: 100%;
        height: auto;
    }
    .review-form-container-main{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .review-text-area{
        width: 90%;
        height: 150px;
        border: 1px solid #C4CDD5;
        margin-bottom: 10px;
        outline: none;
        padding-left: 20px;
        padding-top: 20px;
        border-radius: 5px;
    }
    .review-text-area-input{
        width: 90%;
        height: 35px;
        border: 1px solid #C4CDD5;
        margin-bottom: 10px;
        outline: none;
        padding-left: 20px;
        border-radius: 5px;
    }
    .review-text-area-input-sb{
        width:93.5%;
        height: 38px;
        margin-top: 10px;
        background-color: #F62;
        border: none;
        outline: none;
        color: white;
    }
}
@media screen  and (max-width:600px){
    .review-container-layout{
        margin-right: 2%;
        margin-left: 2%;
        width: 96%;
        height: auto;
        clear: both;
    }
    .review-container-main{
        width: 100%;
        height: auto;
    }
}

.hr-review{
    
    border-top: 0.1px solid #C4CDD5;
}

/* slide */
.img-slider {
    width: 70%;
    height: 70px;
}
/* button-group */
.button-group-product{
    margin-bottom: 10px;

}
.button-group-product Button{
    margin-left: 10px;
    width: 140px;
}
.button-group-product .button-group{
    outline: none;
    border:none;
    text-decoration: none;
    color: #494E53;
}
@media screen and (max-width:560px){
    .button-group-product Button{
        margin-left: 10px;
        width: 120px;
        outline: none;
        border:none;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:450px){
    .button-group-product Button{
        margin-left: 10px;
        width: 98%;
        outline: none;
        border:none;
        margin-bottom: 5px;
    }
}
.pagination-custom{
    width: 100%;
    display: flex;
    justify-content: center
}
.page-numbers{
    list-style: none;
    display: inline;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.page-numbers > li{
    color: #007ACC;
    border: 1px solid #007ACC;
    background-color: white;
    list-style: none;
    display: inline;
   
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;

}
.page-numbers > li:hover{
    
    background-color: #007ACC;
    color: white;
}
.isPassWord{
    position: absolute;
    cursor: pointer;
    margin-left: -35px;
    margin-top: 3px;
}
.login-form-admin{
    width: 100%;
    height: 667px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2329; 
    background-image: linear-gradient(to right, #1E2329 , #696C70);
}
.login-form-container-admin{
    width: 400px;
    height: auto;
    padding: 10px;
}
.form-login-admin-input{
    width: 100%;
    margin: 5px;
}
.form-control-input{
    width: 100%;
    height: 35px;
    border: 1px solid #CDCECF;
    border-radius: 3px;
    padding-left: 85px;
    border-radius: 20px;
    background-color: white;
    color: #1E2329;
    font-size: 13px;
    outline: none;
}
.form-control-input::placeholder{
    color: #1E2329;
}
.form-login-admin-input .title-name-input{
    position: absolute;
    color: #1E2329;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 13px;
    border-right: 1px solid #1E2329;
    width: 70px;
}
.form-login-admin-submit{
    width: 100%;
    height: auto;
}
Button.btnSubmit-admin{
    width: 99%;
    height: 32px;
    outline: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 17px;
    color: #1E2329;
    margin-left: 7px;
    margin-top: 10px;
    font-size: 13px;
    outline-style: none;
}
.error-login-admin{
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    font-size: 12px;
}
.title-login-h2{
    color: white;
    margin-top: -70px;
    margin-bottom: 20px;
}
.form-control-input:-webkit-autofill {
    -webkit-text-fill-color: #1E2329 !important;
    -webkit-background-clip: white !important;
}



/* inbill */
.chang-page{
    margin-top: 5px;
}
.far{
    color: #007ACC;
    cursor: pointer;
}
.active-idPage{
    background-color: #007BFF;
    color: white;
}
*{
    padding: 0;
    margin: 0;
}
.container-bill-print{
    margin: 10px;
    width: 100%-10px;
    min-height: 700px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bill-print-layout{
    width: 700px;
    height: auto;
    border: 1px solid #D8DDE1;
}
.bill-print-header{
    display: block;
    width: 100%;
    height: 110px;
    background-color: #0D83DD;
    float: left;
}
.bill-print-header-1{
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}
.bill-print-header-2{
    width: 24%;
    height: 100%;
    float: left;
    margin-top: 30px;
}
.bill-print-header-3{
    width: 24%;
    height: 100%;
    float: left;
    margin-top: 30px;
}
.bill-print-header-1 h3{
    color: white;
    font-size: 27px ;
    padding-top: 35px;
    padding-left: -30px;
    font-family: 'Courier New', Courier, monospace;
}
.bill-print-header-2 p{
    font-size: 12px;
    display: flex;
    color: white;
    padding-bottom: 3px;
}
.bill-print-header-3 p{
    font-size: 12px;
    padding-left: 20px;
    color: white;
    padding-bottom: 3px;

}



.bill-print-main{
    display: block;
    margin: 5%;
    width: 90%;
    min-height: 150px;
    background-color: white;
    float: left;
    border-bottom: 3px solid #0D83DD;
}
.bill-print-main strong{
    padding: 10px;
    font-size: 15px;
    padding-top: 15px;
}
.bill-print-main .title-p-title-p{
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 0px;
}
.bill-print-main-1{
    float: left;
    width: 25%;
    font-size: 12px;
    height: 100%;
}
.bill-print-main-1 p{
    margin-bottom: 0;

}
.bill-print-main-1 p strong,.bill-print-main-2 p strong,.bill-print-main-3 p strong{
    font-size: 13px;
    color: #494E53;
}
.bill-print-main-2 p{
    margin-bottom: 0;
}
.bill-print-main-3 p{
    margin-bottom: 0;
}
.bill-print-main-2{
    float: left;
    width: 25%;
    height: 100%;
    font-size: 12px;
   
}
.bill-print-main-3{
    float: right;
    width: 32%;
    font-size: 12px;
    height: 100%;
   
}
.title-p-title-p-money{
    font-size: 25px;
    color: #0D83DD;
    padding-left: 10px;
}
.title-p-title-p-money span{
    font-size: 15px;
    color: black;
}
.bill-print-main-body{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    width: 91%;
    min-height: 100px;
    background-color: white;
    float: left;

}
.bill-print-main-body  table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.bill-print-main-body  table thead td{
    font-size: 14px;
    color: #0D83DD;
    padding: 5px;
}
.bill-print-main-body  table tbody td{
    font-size: 12px;
    padding: 4px;
    padding-bottom: 20px;
    padding-top: 7px;
    padding-left: 5px;
}
.name-product-bill{
    float: left;
}

.name-product-bill-right-2,.name-product-bill-right-3,.name-product-bill-right-4{
    width: 20%;
    height: auto;
   
}
.bottom-table{
   border-bottom: 1px solid #D8DDE1;
  
}
.bill-bottom-print{
   width: 100%;
   height: 150px;
   display: block;
   margin-bottom: 20px;
   
}
.bill-bottom-print table{
   width: 300px;
   float: right;
   font-size: 13px;
}
.table-bill-bottom{
   color: #0D83DD;
}
.bill-bottom-print table td{
   padding: 4px;
}
.bill-ky{
   width: 91%;
   margin: 5%;
   float: left;
   height: 100px;
}
.bill-ky-right{
    width: 40%;
    float: right;
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.bill-ky-left{
    width: 40%;
    float: left;
    margin-left: 30px;
    justify-content: center;
    font-size: 13px;
   
}
.bill-print-header-2-p{
    margin-bottom: 0px;
}
.bill-print-header-3-p{
    margin-bottom: 0px;
}
.contact-bill-print{
    width: 91%;
    margin-left: 5%;
    display: block;
    float: left;
    height: 25px;
}
.contact-bill-print p{
    font-size: 13px;
    color: #007BFF;
}
.images-print-bill{
    width: 250px;
    height: 120px;
    margin-top: -15px;
    margin-left: -50px;
}
.button-bill-print{
    position: absolute;
    text-decoration: none;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #212529;
    border-radius: 3px;
}
.button-bill-print a{
    text-decoration: none;
    color: white;
    padding: 3px;
}
.button-bill-print a:hover{
    text-decoration: none;
    color: white;
}
.link-inBill{
    text-decoration: none;
    background-color: #007ACC;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.link-inBill:hover{
    text-decoration: none;
    color: white;
}





/* admin */
.account-admin-container{
    width: 100%;
    height: 400px;
   display: flex;
   justify-content: space-around;
}
.account-admin{
    width: 300px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}
.account-admin-form{
    width: 450px;
    height:100%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.title-account-admin{
    font-size: 12px;
    margin-top: 10px;
   
}
.input-account-admin{
    width: 97%;
    height: 30px;
    margin-left: 5px;
    padding-left: 5px;
    border:1px solid #F0F0F0 ;
    border-radius: 3px;
    font-size: 12px;
    color: #0D83DD;
}
.layout-admin-from-input{
    width: 97%;
    margin-left: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 12px;

}
.layout-input-account-admin{
    width: 49%;
    height: 30px;
    padding-left: 5px;
    border:1px solid #F0F0F0 ;
    border-radius: 3px;
    color: #0D83DD;
}
.input-button-submit{
    width: 100px;
    height: 35px;
    background-color: #0D83DD;
    color: white;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 3px;
}
.title-images-admin{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-images-admin img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid  #007BFF;
}
.title-name-admin-hello{
    width: 100%;
    height: 100px;
 
}
.title-name-admin-hello p{
  font-size: 13px;
  text-align: center;
}
.title-images-admin-images{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.form-control-admin-images{
    height: 35px;
    font-size: 12px;
    bottom: 0;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}
.input-button-submit-images{
    width: 100px;
    height: 37px;
    background-color: #0D83DD;
    color: white;
    outline: none;
    border: none;
    margin-left: 5px;
    border-radius: 3px;
    margin-top: -5px;
}
.pagination-button{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-main-logo .fab{
    font-size: 30px;
    color: white;
}


@media  screen and (max-width : 770px){
    .account-admin-container{
        width: 100%;
        height: 100%;
        float: left;
        display: block;
    }
    .account-admin{
        width: 80%;
        height: 100%;
        background-color: white;
        border-radius: 5px;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 10px;
    }
    .account-admin-form{
        width: 80%;
        height:100%;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
    }
}




@media  screen and (max-width : 500px){
    .account-admin-container{
        width: 100%;
        height: 100%;
        float: left;
        display: block;
    }
    .account-admin{
        width: 90%;
        height: 100%;
        background-color: white;
        border-radius: 5px;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 10px;
    }
    .account-admin-form{
        width: 90%;
        height:100%;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
    }
}

